animateTransform.sicalyme_animation_rot_5
{
attributeName:
"transform"
;
attributeType:
"XML"
;
type:
"rotate"
;
values:
"
0 360 360;0.8682408883 360 360;1.710100717 360 360;2.5 360 360; 3.213938048 360 360;3.830222216 360 360;4.330127019 360 360;4.698463104 360 360;4.924038765 360 360;5 360 360;4.924038765 360 360;4.698463104 360 360;4.330127019 360 360;3.830222216 360 360;3.213938048 360 360;2.5 360 360;1.710100717 360 360;0.8682408883 360 360;0 360 360;-0.8682408883 360 360;-1.710100717 360 360;-2.5 360 360;-3.213938048 360 360;-3.830222216 360 360;-4.330127019 360 360;-4.698463104 360 360;-4.924038765 360 360;-5 360 360;-4.924038765 360 360;-4.698463104 360 360;-4.330127019 360 360;-3.830222216 360 360;-3.213938048 360 360;-2.5 360 360;-1.710100717 360 360;-0.8682408883 360 360;0 360 360
"
;
dur:
"2s"
;
repeatCount:
"indefinite"
}