.sicalyme_color_olive
{
fill:
#6d7500
;
stroke:
#555a00
}
.sicalyme_color_brown
{
fill:
#7f4a00
;
stroke:
#5e3201
}
.sicalyme_color_white
{
fill:
#d0d0d0
;
stroke:
#aaa
}
.sicalyme_color_grey
{
fill:
#b0b0b0
;
stroke:
#909090
}
.sicalyme_color_black
{
fill:
#707070
;
stroke:
#505050
}
.sicalyme_color_sand
{
fill:
#faffa5
;
stroke:
#c5c983
}
.sicalyme_color_LeowLyme_track
{
fill:
#323232
}
.sicalyme_color_LeowLyme_pupil
{
fill:
#3c2800
}
.sicalyme_color_LeowLyme_ear_inner{
fill:
#53310c
}