/*
❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️
✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️

©️

author:
Dương Chấn Hưng

✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️
❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️
*/

/*
❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️
✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️

📜 basic color

✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️
❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️
*/

/*
❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️
✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️

this color was first created in the game "Sandbox World - 3D mechanics" .

it was supposed to be darker, due to 3D graphics.

in sicalyme app, it's a major color for almost everything.

🥦🥦🥦🥦🥦🥦
🥦🦖🦖🦖🦖🥦
🥦🦖🦖🦖🦖🥦
🥦🦖🦖🦖🦖🥦
🥦🥦🥦🥦🥦🥦

*/
path.sicalyme_color_olive
,
circle.sicalyme_color_olive
{
fill:
#6d7500
;
stroke:
#555a00
}

/*
❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️
✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️

this color was first created in the game "Sandbox World - 3D mechanics" .

it was supposed to be darker, due to 3D graphics.

in sicalyme app, it's a minor color for almost everything.

🦘🦘🦘🦘🦘🦘
🦘🥐🥐🥐🥐🦘
🦘🥐🥐🥐🥐🦘
🦘🥐🥐🥐🥐🦘
🦘🦘🦘🦘🦘🦘

*/
path.sicalyme_color_brown
,
circle.sicalyme_color_brown
{
fill:
#7f4a00
;
stroke:
#5e3201
}
path.sicalyme_color_white
,
circle.sicalyme_color_white
{
fill:
#d0d0d0
;
stroke:
#aaa
}
path.sicalyme_color_grey
,
circle.sicalyme_color_grey
{
fill:
#b0b0b0
;
stroke:
#909090
}
path.sicalyme_color_black
,
circle.sicalyme_color_black
{
fill:
#707070
;
stroke:
#505050
}
path.sicalyme_color_sand
,
circle.sicalyme_color_sand
{
fill:
#faffa5
;
stroke:
#c5c983
}

/*
❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️
✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️

🌈 unique color

✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️✳️
❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️❇️

*/

path.sicalyme_color_tape
,
circle.sicalyme_color_tape
{
stroke:
#505050
}
path.sicalyme_color_LeowLyme_track
,
circle.sicalyme_color_LeowLyme_track
{
fill:
#323232
}
path.sicalyme_color_LeowLyme_pupil
,
circle.sicalyme_color_LeowLyme_pupil
{
fill:
#3c2800
}
path.sicalyme_color_LeowLyme_ear_inner
,
circle.sicalyme_color_LeowLyme_ear_inner
{
fill:
#53310c
}
path.sicalyme_color_FezaLyme_skin
,
circle.sicalyme_color_FezaLyme_skin
{
fill:
#76a624
}
path.sicalyme_color_FezaLyme_cloth
,
circle.sicalyme_color_FezaLyme_cloth
{
fill:
#243b29
}