.sicalyme_color_olive
{
fill:
#6d7500
;
stroke:
#555a00
}
.sicalyme_color_brown
{
fill:
#7f4a00
;
stroke:
#5e3201
}
.sicalyme_color_white
{
fill:
#d0d0d0
;
stroke:
#aaa
}
.sicalyme_color_grey
{
fill:
#b0b0b0
;
stroke:
#909090
}
.sicalyme_color_black
{
fill:
#707070
;
stroke:
#505050
}