animateTransform.sicalyme_animation_rot_5
{
attributeName:
"transform"
;
attributeType:
"XML"
;
type:
"rotate"
;
values:
"
0 360 360;0.8682408883 360 360;1.710100717 360 360;2.5 360 360; 3.213938048 360 360;3.830222216 360 360;4.330127019 360 360;4.698463104 360 360;4.924038765 360 360;5 360 360;4.924038765 360 360;4.698463104 360 360;4.330127019 360 360;3.830222216 360 360;3.213938048 360 360;2.5 360 360;1.710100717 360 360;0.8682408883 360 360;0 360 360;-0.8682408883 360 360;-1.710100717 360 360;-2.5 360 360;-3.213938048 360 360;-3.830222216 360 360;-4.330127019 360 360;-4.698463104 360 360;-4.924038765 360 360;-5 360 360;-4.924038765 360 360;-4.698463104 360 360;-4.330127019 360 360;-3.830222216 360 360;-3.213938048 360 360;-2.5 360 360;-1.710100717 360 360;-0.8682408883 360 360;0 360 360
"
;
dur:
"2s"
;
repeatCount:
"indefinite"
}
animateTransform.sicalyme_animation_rot_3
{
attributeName:
"transform"
;
attributeType:
"XML"
;
type:
"rotate"
;
values:
"
0 360 360;0.520944533 360 360;1.02606043 360 360;1.5 360 360;1.928362829 360 360;2.298133329 360 360;2.598076211 360 360;2.819077862 360 360;2.954423259 360 360;3 360 360;2.954423259 360 360;2.819077862 360 360;2.598076211 360 360;2.298133329 360 360;1.928362829 360 360;1.5 360 360;1.02606043 360 360;0.520944533 360 360;0 360 360;-0.520944533 360 360;-1.02606043 360 360;-1.5 360 360;-1.928362829 360 360;-2.298133329 360 360;-2.598076211 360 360;-2.819077862 360 360;-2.954423259 360 360;-3 360 360;-2.954423259 360 360;-2.819077862 360 360;-2.598076211 360 360;-2.298133329 360 360;-1.928362829 360 360;-1.5 360 360;-1.02606043 360 360;-0.520944533 360 360;0 360 360
"
;
dur:
"2s"
;
repeatCount:
"indefinite"
}